{% extends 'box/base.html' %} 
{% load static %}
{% block content %} 
<style>
  .banner_text_iner {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, 0px); }    
}
</style>

<style>
  .single_service_text{  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, 0px); }    
}
</style>

<section class="banner_part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="banner_text">
          <div style="text-align:center;" class="banner_text_iner">
            <h2 style="color:white;">
              Get Your Package When <br />
              You Need It <br />Most!
            </h2>
            <form  action="{% url 'search' %}" class="search" method="GET" style="padding-top: 5px;">
              <div class="">
                  <div class="input-group" style="display: flex;padding: 10px 22px; width: 100%;align-items:left;">
                      <input id="inp-search" style="border-color: #f39c12;" type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Your Parcel ID" required>
                      
                      
                        <button id="bt" class="btn btn-primary" style="background-color:#6345fe ;" type="submit">
                          <span class="txt" style="color:white;font-weight: light;">Track</span>
                        </button>
                      
                  </div>
              </div>
          </form>
            <!-- <div class="input-phone"></div> -->
          </div>
        </div>
      </div>
      


      </div>
    </div>
  </div>
</section>
{% include 'box/alerts.html' %}
<section class="about_part section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about_part_img">
          <h2>about us</h2>
          <img src="{% static 'box/img/about_2.png' %}" alt="#" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="about_part_text">
          <div class="about_text_iner">
            <p>
              Sky Xpress Delivery Service and Shipping Company is a one-stop
              freight and logistics solution, providing services to companies of
              all sizes, be it a small delivery across town or an industrial
              shipment to the other side of the globe.
            </p>
            <p>
              Based on a solid financial footing and having invested remarkable
              amount of money / time on information technology and other over
              heads, the company's capabilities of sourcing new clients as well
              as improving cost efficiency are the key attributes for our
              success. Great Height Logistic has maintained a significant role
              in the total transportation arena for over a short time with its
              professional accredited staff who are our real assets.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service_part">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="service_text">
          <h2>Sky Xpress Delivery<br /><span>Services </span></h2>
          <p>
            Sky Xpress Delivery Logistics & Shipping provides you with a cost effective
            Total Logistics & Transportation Services that are tailor- made to
            meet your precise requirements, leaving you free to stay focused on
            your core business activities.
          </p>
          <p>
            Sky Xpress Delivery Logistics global network relying on its overseas
            partners with whom we have built up a confidence and trust that has
            resulted fruitful tie up.
          </p>
          <a href="{% url 'services' %}" class="btn_1">learn more</a>
        </div>
      </div>
      <div class="col-lg-6" >
        <center>
        <div class="single_service_text">
          <img src="{% static 'box/img/icon/service_1.svg' %}" alt="" />
          <h4>Planning</h4>
          <p>
            
          </p>
        </div>
        <div class="single_service_text">
          <img src="{% static 'box/img/icon/service_2.svg' %}" alt="" />
          <h4>List Delivery</h4>
          <p>
           
          </p>
        </div>
        <div class="single_service_text">
          <img src="{% static 'box/img/icon/service_3.svg' %}" alt="" />
          <h4>Transport</h4>
          <p>
            
          </p>
        </div>
        <div class="single_service_text">
          <img src="{% static 'box/img/icon/service_4.svg' %}" alt="" />
          <h4>Inventory</h4>
          <p>
            
          </p>
        </div>
      </center>
      </div>
    </div>
  </div>
</section>

<section class="cta_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-8">
        <div class="cta_text">
          <h2>International Freight Shipping</h2>
          <p>
            We Offer a Diverse Range of Air, Ocean and Multitudes of Land Freight Services. We Facilitate All Your Shipping and Transportation Needs.
          </p>
          <a href="{% url 'services' %}" class="cta_btn btn_1">view all</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="deliverie_process section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-sm-10">
        <div class="section_tittle">
          <h2>
            World Wide <br />
            <span>Deliveries Process</span>
          </h2>
          <p>
            Our close collaboration and long-term relationship with carefully selected working partners enable us to guarantee our consistency in providing top services to our customers on a worldwide basis. <br />
            
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single_deliverie_process">
          <img src="{% static 'box/truck.jpeg' %}" alt="" />
          <h4>Trucks</h4>
          <p style="text-align: left;">
            
            Sky Xpress Delivery Company land freight services offer a highly flexible and a cost-effective solution to your road transport requirements.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_deliverie_process">
          <img src="{% static 'box/plane.jpg' %}" alt="" />
          <h4>Air</h4>
          <p style="text-align: left;">Sky Xpress Delivery provides worldwide network for all your air freight needs.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_deliverie_process">
          <img src="{% static 'box/rail.jpeg' %}" alt="" />
          <h4>Railway</h4>
          <p style="text-align: left;">Sky Xpress Delivery Company rail freight services offer a highly flexible and a cost-effective solution to your rail transport requirements.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_deliverie_process">
          <img src="{% static 'box/ship.jpg' %}" alt="" />
          <h4>Ship</h4>
          <p style="text-align: left;">Sky Xpress Delivery Company having its strong alliance with shipping companies and global freight partners enables to offer cost effective ocean freight.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="regervation_part section_padding">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-lg-5 col-md-6">
        <div class="regervation_part_iner">
          <h2>Get A Quote</h2>
          <form method="post">
            {% csrf_token %}
            <div class="form-row" style="color:white;">
              <div class="form-group col-md-6">
                <input
                name="name"
                  type="text"
                  class="form-control"
                  
                  placeholder="Name"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Name'"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  name="email"
                  type="email"
                  class="form-control"
                  
                  placeholder="Email"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Email'"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  name="departure"
                  class="form-control"
                  
                  placeholder="Departure"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Departure'"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  name="arrival"
                  placeholder="Arrival"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Arrival'"
                />
              </div>
              <div class="form-group col-md-12">
                <div class="input-group date">
                  <input
                    type="text"
                    class="form-control"
                    name="cargo_description"
                    placeholder="Cargo Description"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Cargo Description'"
                  />
                </div>
              </div>
              <div class="form-group time_icon col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="transportation_method"
                  placeholder="Transportation Method"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Transportation Method'"
                />
              </div>
            </div>
            <div class="regerv_btn">
              <button style="border-color:white;"  class="btn_1">GET A QUOTE</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="reservation_text">
          <h2>We provide international freight & logistics service worldwide</h2>
          <!-- <p>
            abore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud
            exercitation ullamco laboris nisi ut aliquip. Labore et dolore magna
            aliqua.
          </p> -->
          <a href="{% url 'services' %}" class="btn_1">check now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="deliveries_part section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="deliveries_tittle">
          <h2>Recent Deliveries</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="deliveries_slider owl-carousel">
          <div class="single_deliveries">
            <img src="img/deliveries/deliveries_1.png" alt="" />
            <div class="single_deliveries_text">
              <h3>World Corgo</h3>
              <div class="single_deliveries_text_iner">
                <img src="img/deliveries_img.png" alt="" />
                <p>
                  324 King Heaven tower, House no Melbourne ,VIC-222, Australia
                </p>
                <p>
                  324 King Heaven tower, House no Melbourne ,VIC-222, Australia
                </p>
              </div>
            </div>
          </div>
          <div class="single_deliveries">
            <img src="img/deliveries/deliveries_2.png" alt="" />
            <div class="single_deliveries_text">
              <h3>World Corgo</h3>
              <div class="single_deliveries_text_iner">
                <img src="img/deliveries_img.png" alt="" />
                <p>
                  324 King Heaven tower, House no Melbourne ,VIC-222, Australia
                </p>
                <p>
                  324 King Heaven tower, House no Melbourne ,VIC-222, Australia
                </p>
              </div>
            </div>
          </div>
          <div class="single_deliveries">
            <img src="img/deliveries/deliveries_3.png" alt="" />
            <div class="single_deliveries_text">
              <h3>World Corgo</h3>
              <div class="single_deliveries_text_iner">
                <img src="img/deliveries_img.png" alt="" />
                <p>
                  324 King Heaven tower, House no Melbourne ,VIC-222, Australia
                </p>
                <p>
                  324 King Heaven tower, House no Melbourne ,VIC-222, Australia
                </p>
              </div>
            </div>
          </div>
          <div class="single_deliveries">
            <img src="img/deliveries/deliveries_1.png" alt="" />
            <div class="single_deliveries_text">
              <h3>World Corgo</h3>
              <div class="single_deliveries_text_iner">
                <img src="img/deliveries_img.png" alt="" />
                <p>
                  324 King Heaven tower, House no Melbourne ,VIC-222, Australia
                </p>
                <p>
                  324 King Heaven tower, House no Melbourne ,VIC-222, Australia
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog_part padding_bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog_tittle">
          <h2>Latest Blog</h2>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single_blog">
          <div class="single_blog_img">
            <img src="img/blog/blog_1.png" alt="" />
            <div class="date">
              <h1>jan</h1>
              <span>
                <br />
                2019
              </span>
            </div>
          </div>
          <div class="single_blog_text">
            <h3><a href="blog.html">Founder Defends</a></h3>
            <p>
              Varius conubia a mauris litora lacus. Cubilia proin on ornare et
              nunc dapibus vel rutrum augue facilisis malesuada et porta impe.
            </p>
            <a href="#"> <i class="ti-heart"></i> 100 Likes</a>
            <a href="#"> <i class="ti-comments-smiley"></i> 1 Comment</a>
          </div>
          <a class="btn_3" href="blog.html"
            >read more <i class="ti-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single_blog">
          <div class="single_blog_img">
            <img src="img/blog/blog_1.png" alt="" />
            <div class="date">
              <h1>jan</h1>
              <span>
                <br />
                2019
              </span>
            </div>
          </div>
          <div class="single_blog_text">
            <h3><a href="blog.html">Founder Defends</a></h3>
            <p>
              Varius conubia a mauris litora lacus. Cubilia proin on ornare et
              nunc dapibus vel rutrum augue facilisis malesuada et porta impe.
            </p>
            <a href="#"> <i class="ti-heart"></i> 100 Likes</a>
            <a href="#"> <i class="ti-comments-smiley"></i> 1 Comment</a>
          </div>
          <a class="btn_3" href="blog.html"
            >read more <i class="ti-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single_blog">
          <div class="single_blog_img">
            <img src="img/blog/blog_1.png" alt="" />
            <div class="date">
              <h1>jan</h1>
              <span>
                <br />
                2019
              </span>
            </div>
          </div>
          <div class="single_blog_text">
            <h3><a href="blog.html">Founder Defends</a></h3>
            <p>
              Varius conubia a mauris litora lacus. Cubilia proin on ornare et
              nunc dapibus vel rutrum augue facilisis malesuada et porta impe.
            </p>
            <a href="#"> <i class="ti-heart"></i> 100 Likes</a>
            <a href="#"> <i class="ti-comments-smiley"></i> 1 Comment</a>
          </div>
          <a class="btn_3" href="blog.html"
            >read more <i class="ti-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->

{% endblock %}
