{% extends 'box/base.html' %} 
{% load static %}
{% block content %} 

    <section class="breadcrumb breadcrumb_bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb_iner text-center">
              <div class="breadcrumb_iner_item">
                <h2>services</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="service_part single_page_service">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="service_text">
              <h2>SKY XPRESS <br /><span> Delivery Services </span></h2>
              <p>
                Sky Xpress Delivery & Shipping provides you with a cost effective
            Total & Transportation Services that are tailor- made to
            meet your precise requirements, leaving you free to stay focused on
            your core business activities.
              </p>
              <p>
                Sky Xpress Delivery global network relying on its overseas
            partners with whom we have built up a confidence and trust that has
            resulted fruitful tie up.
              </p>
              <!-- <a href="{% url 'services' %}" class="btn_1">learn more</a> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single_service_text">
              <img src="{% static 'box/img/icon/service_1.svg' %}" alt="" />
              <h4>Planning</h4>
              <p>
                
              </p>
            </div>
            <div class="single_service_text">
              <img src="{% static 'box/img/icon/service_2.svg' %}" alt="" />
              <h4>List Delivery</h4>
              <p>
                
              </p>
            </div>
            <div class="single_service_text">
              <img src="{% static 'box/img/icon/service_3.svg' %}" alt="" />
              <h4>Transport</h4>
              <p>
                
              </p>
            </div>
            <div class="single_service_text">
              <img src="{% static 'box/img/icon/service_4.svg' %}" alt="" />
              <h4>Inventory</h4>
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta_area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-8">
            <div class="cta_text">
              <h2>International Freight Shipping</h2>
              <p>
                We Offer a Diverse Range of Air, Ocean and Multitudes of Land Freight Services. We Facilitate All Your Shipping and Transportation Needs.
              </p>
              <!-- <a href="#" class="cta_btn btn_1">view all</a> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="deliverie_process section_padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-sm-10">
            <div class="section_tittle">
              <h2>
                World Wide <br />
                <span>Deliveries Process</span>
              </h2>
              <p style="text-align: left;">
                Our close collaboration and long-term relationship with carefully selected working partners enable us to guarantee our consistency in providing top services to our customers on a worldwide basis. <br />
            
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="single_deliverie_process">
              <img src="{% static 'box/img/icon/process_1.svg' %}" alt="" />
              <h4>Trucks</h4>
              <p style="text-align: left;">Sky Xpress Delivery Company land freight services offer a highly flexible and a cost-effective solution to your road transport requirements.</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single_deliverie_process">
              <img src="{% static 'box/img/icon/process_2.svg' %}" alt="" />
              <h4>Air</h4>
              <p style="text-align: left;">Sky Xpress Delivery provides worldwide network for all your air freight needs.</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single_deliverie_process">
              <img src="{% static 'box/img/icon/process_3.svg' %}" alt="" />
              <h4>Railway</h4>
              <p style="text-align: left;">Sky Xpress Delivery Company rail freight services offer a highly flexible and a cost-effective solution to your rail transport requirements.</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single_deliverie_process">
              <img src="{% static 'box/img/icon/process_4.svg' %}" alt="" />
              <h4>Ship</h4>
              <p style="text-align: left;">Sky Xpress Delivery Company having its strong alliance with shipping companies and global freight partners enables to offer cost effective ocean freight.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

   
{% endblock %}